{


	"logLevel": "info",
	"xlogFile": "./mailwatcher.log",

	"watchedFolder": "/Users/mattimatti/Documents/watch",
	"processedFolder": "/Users/mattimatti/Documents/processed",
	"sendfailFolder": "/Users/mattimatti/Documents/unsent",

	"mail": {
		"from": "xxxx <xxxxxx@gmail.com>",
		"subject": "Hermes ok",
		"text": "my default text {image} text"
	},

	"smtp": {
		"service": "Gmail",
		"auth": {
			"user": "xxxxxxxx@gmail.com",
			"pass": "xxxxxxx"
		}
	},


	"ftp": {
		"host": "ftp.xxxxxx",
		"port": 21,
		"user": "xxxx",
		"pass": "xxxxx",
		"debugMode": true
	},

	"dropbox": {
		"auth": {
			"key": "your-key-code",
			"secret": "your-secret",
			"token": "your-token",
			"sandbox": "true"
		},
		"publicUrl": "http://xc-events.it/hermes/{file}",
		"destFolder": "web/hermes/"
	},
	"logService": "",
	"templateURL": "http://xc-events.it/hermes/template/template.html"

}